name: Run tests

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest]
            python-version: [3.12]

    steps:

    - name: checkout code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pdm
      run: |
        pip install pdm
        pdm install -d

    - name: pre-commit checks
      uses: pre-commit/action@v2.0.3

    - name: Run tests
      run: pdm run pytest tests --cov=src/enzax

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
